/*
CSS that is used throughout the whole site
this allows for easy use of elements that are similar or exactly the same looking
*/
body{
	background-color: #222222;
	padding: 0;
	margin: 0;
	font-family: verdana;
}
#wrapper{
	width: 400px;
	margin: 0 auto;
}
a{
	text-decoration: none;
	color: white;
}
a:hover{
	color: #EB7D2F!important;
}
/*
Banner Area
header link at top of page
*/
.banner{
	padding: 0;
	margin: 0;
	height:50px;
	line-height: 50px;
	background-color: black;
	text-align: center;
}
.banner h1{
	padding: 0;
	margin: 0;
	border: none;
}
/*
NavBar Area
*/
#navBar{
	width: 100%;
	display: inline-block;
	line-height: 50px;
	text-align: center;
}
#navBar a{
	float: left;
	text-decoration: none;
	color: white;
	width: 100px;
	padding-left: 5px;
	padding-right: 5px;
}
#navBar li a:hover{
	color: #EB7D2F;
	background-color: #141414;
}
.currentPage{
	background-color: red!important;
}
#navBar ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	border: 0;
}
#navBigName{
	font-size: 28px;
	background-color: ;
	width: 400px !important;
}
#navBigName:hover{
	color: #EB7D2F;
}
/*
Content Area
area for forms,textboxes, buttons etc.
*/
.contentBox{
	background-color: #EEEEEE;
	height: auto;
	padding-bottom: 5px;
}
.contentBox h2{
	background-color: #141414;
	color: white;
	padding-left: 20px;
	height: 40px;
	line-height: 40px;
}
.contentBox a{
	color: black;
}
.contentBox td{
	padding: 5px;
}
/*
Focus area
*/
:focus{
	outline-color: #EB7D2F;
}
/*
Buttons area
*/
input[type=submit] {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  border: none;
  font-family: verdana;
  color: #ffffff;
  font-size: 16px;
  background: #444444;
  padding: 5px 8px 5px 8px;
  text-decoration: none;
}
input[type=submit]:hover {
	text-decoration: none;
	background: #141414;
	color: #EB7D2F;
}
/*
Textboxes area
*/
input[type=text],input[type=password] {

}
/*
File Upload Area
*/
#fileUpload{
	padding: 10px;
	border-top: 1px solid #A9A9A9;
}
